*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

}

table{
    border: 1px solid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}

td{
    background-color: #fff;
}

.container{
    background-image: linear-gradient(to right bottom,
    #007acc,#556455
     );
    width: 100%;
    height: 100vh;
}

td:not(.ficha){
    width: 5px;
    height: 5px;
    border: 1px solid;
}

.player-square{
    background-color: aquamarine;
    position: relative;
}

.ficha{
    border: 1px solid;
}

.ficha_azul{
    background-color: blue;

}

.ficha_vermelha{
    background-color: red;
}

.ficha_amarela{
    background-color: yellow;

}

.ficha_verde{
    background-color: green;

}

.table-pieces{
    width: 75%;
    height: 75%;
    border-spacing: 10px;
    background-color: blue;
}

.table-pieces td{
    background-color: aquamarine;
}

.left{
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
    text-align: center;
}

.right{
    text-orientation: sideways;
    writing-mode: vertical-rl;
    transform: rotateZ(180deg);
    text-align: center;
}

.top{
    transform: rotateZ(180deg);
    text-align: center;
}
.botton{
    text-align: center;
}

.plano
{
    width: 100%;
    height: 90vh;
    position: relative;
}

.dice {
    width: 100px;
    height: 100px;
    position: relative;
    top: 70%;
    left: 70%;
    transform-style: preserve-3d;
    animation: girar 2.5s;
    transition: all .45s;
    
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, #ebe9e7, #fff);
    border: 5px solid #fCfBfA;
    border-radius: 20px;
    color: #000;
    transform-style: preserve-3d;
    box-shadow: 0 .12rem .4rem rgba(0, 0, 0, .25);
    transition: all .45s;
}

.face.active {
    display: block;
}


#face1 { transform: translateZ(30px); }
#face2 { transform: rotateY(90deg) translateZ(30px); }
#face3 { transform: rotateY(180deg) translateZ(30px); }
#face4 { transform: rotateY(-90deg) translateZ(30px); }
#face5 { transform: rotateX(-90deg) translateZ(30px); }
#face6 { transform: rotateX(90deg) translateZ(30px); }

.face::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #fffdfb;
    transform: translateZ(-1px);
}

.face::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #444;
}
.pi { transform: translateZ(50px); }
.duke { transform: rotateX(90deg) translateZ(50px); }
.terna { transform: rotateY(-90deg) translateZ(50px); }
.quadra { transform: rotateY(90deg) translateZ(50px); }
.quina { transform: rotateX(-90deg) translateZ(50px); }
.cena { transform: rotateX(180deg) translateZ(50px); }

.pi::after { 
    width: 30px;
    height: 30px;
    background-color: red;
 }
.duke::after { margin: -26px 0 0 -26px; box-shadow: 40px 40px; }
.terna::after { margin: -26px 0 0 -26px; box-shadow: 26px 26px, 52px 52px; }
.quadra::after { background-color: red; margin: -20px 0 0 -20px; box-shadow: 40px 0 RED, 0 40px red, 40px 40px red; }
.quina::after { margin: -26px 0 0 -26px; box-shadow: 26px 26px, 52px 52px, 52px 0, 0 52px; }
.cena::after { margin: -26px 0 0 -26px; box-shadow: 40px 0, 0 25px, 40px 25px, 0 50px, 40px 50px; }

@keyframes girar {
    
    15%{transform: translate(150%,150%) rotateX(455deg) rotateY(155deg);}
    35%{transform: translate(0,0) rotateX(910deg) rotateY(310deg);}
    50%{
        transform: translate(-50%,-50%) rotateX(2730deg) rotateY(930deg);
    }
    65%{transform: translate(-100%,-100%) rotateX(1820deg) rotateY(620deg);}
    85%{transform: translate(-205%,-250%) rotateX(2730deg) rotateY(930deg);}
 
}
